<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.name}} | 404</title>
    <!-- plugins:css -->
    <link href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}" rel="stylesheet" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link href="{{ url_for('static', filename='vendors/jvectormap/jquery-jvectormap.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendors/owl-carousel-2/owl.carousel.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendors/owl-carousel-2/owl.theme.default.min.css') }}"
        rel="stylesheet" />


    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>

<body>
    <div class="container-scroller">

        <!-- Side Bar -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">

            <!-- Logo -->
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo text-white" style="text-decoration: none" href="/">
                    <h1>{{site.name}}</h1>
                </a>
                <a class="sidebar-brand brand-logo-mini text-white" style="text-decoration: none" href="/">
                    <h1>{{site.letter}}</h1>
                </a>
            </div>

            <ul class="nav">

                <!-- Profile -->
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="{{ user.avatar }}" alt="">
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">{{ user.name }}</h5>
                                <span>{{ user.tier }}</span>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-bs-toggle="dropdown"><i
                                class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                            aria-labelledby="profile-dropdown">
                            <a href="/logout" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout-variant text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Logout</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>

                <!-- Title -->
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>

                <!-- Dashboard -->
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/dashboard">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>

                <!-- Generator -->
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/generator">
                        <span class="menu-icon">
                            <i class="mdi mdi-sword"></i>
                        </span>
                        <span class="menu-title">Generator</span>
                    </a>
                </li>

                <!-- Proxies -->
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/proxies">
                        <span class="menu-icon">
                            <i class="mdi mdi mdi-weather-lightning"></i>
                        </span>
                        <span class="menu-title">Proxies</span>
                    </a>
                </li>

                <!-- Combos -->
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/combos">
                        <span class="menu-icon">
                            <i class="mdi mdi mdi-book-open-page-variant"></i>
                        </span>
                        <span class="menu-title">Combos</span>
                    </a>
                </li>

                <!-- Support -->
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/discord">
                        <span class="menu-icon">
                            <i class="mdi mdi mdi mdi-human-greeting"></i>
                        </span>
                        <span class="menu-title">Support</span>
                    </a>
                </li>


                {% if user.id == user.adminid %}
                <!-- Admin -->
                <li class="nav-item menu-items">
                  <a class="nav-link" href="/admin">
                    <span class="menu-icon">
                      <i class="mdi mdi-security"></i>
                    </span>
                    <span class="menu-title">Admin</span>
                  </a>
                </li>
                {% endif %}

            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">


            <!-- Top Bar -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="/"><img
                            src="{{ url_for('static', filename='images/logo-mini.png') }}" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav navbar-nav-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="{{ user.avatar }}" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.name }}</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdtown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <a href="/logout" class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>


            <div class="main-panel">


                <!-- Content -->
                <div class="content-wrapper">

                    <h1>404</h1>
                    <h2>Page not found.</h2>


                </div>


                <!-- Footer -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © {{site.name}}
                            2023</span>
                    </div>
                </footer>


            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/progressbar.js/progressbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jvectormap/jquery-jvectormap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/owl-carousel-2/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/off-canvas.j') }}"></script>
    <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>

</html>